 <img src = "https://sasquadportador.blob.core.windows.net/general-images/header-blog-1.png" > 

# Seleção Estagiário Data Science - Jonathan

###  QUESTÃO 1.2

### Aqui será gerada uma base nova, contendo as seguintes colunas novas:

QTD_FATURAS_ULT_6M
 - Total de faturas emitidas nos últimos 6 meses (sem contar com a fatura de setembro)

VL_MEDIO_FATURA
 - O valor médio de fatura nos últimos 6 meses (sem contar com a fatura de setembro)	

QTD_FATURAS_ULT_6M_FX1
 - Quantidade de vezes que ele ficou sem pagar a fatura anterior nos últimos 6 meses (sem contar com a fatura de setembro)

Importações

In [1]:

import pandas as pd
import numpy as np

file = pd.read_csv('Questão 1 - Base.txt',delimiter='\t')

file

         ID_CONTA DT_VENCIMENTO DS_ROLAGEM  VL_FATURA
0          402467    2019-01-01        FX0     210.00
1          403001    2019-01-01        FX1    1097.18
2          403499    2019-01-01        FX0    1209.88
3          403670    2019-01-01        FX0     667.40
4          404183    2019-01-01        FX1    1239.52
...           ...           ...        ...        ...
2728244   1624841    2019-08-08        FX1    1467.05
2728245   1624848    2019-08-08        FX0    1189.15
2728246   1624871    2019-08-08        FX1     427.72
2728247   1624878    2019-08-08        FX0     281.14
2728248   1624884    2019-08-08        FX0     313.00

[2728249 rows x 4 columns]

Definindo as funções para calcular o percentual por mês e o faturamento por mês

In [ ]:

#file['VL_FATURA'] = file['VL_FATURA'].astype(float)
#file.head(30)
print(max(file['DT_VENCIMENTO']) )
#print(aux_3)
x = file['DT_VENCIMENTO'][file['VL_FATURA'] == 210.0000000]
#print(x)
aux_2 = file['VL_FATURA'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month == 1][file['DS_ROLAGEM'] == 'FX1']
aux_3 = file['DT_VENCIMENTO'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([1])]
#print(aux_3)

def percent_by_mes_FX(mes):
    result = file['DT_VENCIMENTO'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([mes])][file['DS_ROLAGEM'] == 'FX1']
    aux = file['DT_VENCIMENTO'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([mes])]
    return 100*(len(result)/len(aux))

def faturamento(mes):
    result = sum(file['VL_FATURA'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month == mes][file['DS_ROLAGEM'] == 'FX1'])

    return result

print("Percentual de janeiro: " , percent_by_mes_FX(1))
print("Percentual de fevereiro:" , percent_by_mes_FX(2))
print(faturamento(1))
#pd.DatetimeIndex(file['DT_VENCIMENTO']).month

Clientes com fatura em setembro

In [2]:
# Variável com todos os clientes com faturas em Setembro (Mês 9) - total_Com9

total_com9 = file['ID_CONTA'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([9])]

total_com9_df = pd.DataFrame(total_com9)

total_com9_df

         ID_CONTA
967588      99416
967589      52706
967590    1024221
967591    1024238
967592    1024293
...           ...
1487070   1751997
1487071   1752023
1487072   1752049
1487073   1752120
1487074   1752194

[257177 rows x 1 columns]

Groupby com as colunas ID_CONTA e DT_VENCIMENTO

In [ ]:
data = file[['ID_CONTA','DT_VENCIMENTO']][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([9])] [file['ID_CONTA'].isin(total_com9)]
data = data.groupby('ID_CONTA',as_index=False)['DT_VENCIMENTO']
pd.DataFrame(data)

Agrupando e criando a coluna com a contagem de faturas nos últimos 6 meses

In [3]:
#total_sem9 = file['DT_VENCIMENTO'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([8])][file['ID_CONTA'].isin(total_com9)]
#clientes =   file['ID_CONTA'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([8,7,6,5,4,3])][file['ID_CONTA'].isin(total_com9)][file['ID_CONTA'] == 1580870]
total_clientes_m6 = file['ID_CONTA'][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([8,7,6,5,4,3])] [file['ID_CONTA'].isin(total_com9)] 


total_clientes_m6 = pd.DataFrame(total_clientes_m6)

cliente_agrupado = total_clientes_m6.groupby('ID_CONTA',as_index=False).size()

cliente_agrupado_df = pd.DataFrame(cliente_agrupado).rename(columns={'size': 'QTD_FATURAS_ULT_6M'})



cliente_agrupado_df

        ID_CONTA  QTD_FATURAS_ULT_6M
0          27717                   6
1          27789                   6
2          30256                   6
3          35473                   6
4          35510                   6
...          ...                 ...
240237   1733074                   1
240238   1733098                   1
240239   1733273                   1
240240   1733278                   1
240241   1733288                   1

[240242 rows x 2 columns]

Criação da coluna de Valor médio   'VL_MEDIO_FATURA'

In [4]:
faturas =  file[['ID_CONTA','VL_FATURA']][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([8,7,6,5,4,3])] [file['ID_CONTA'].isin(total_com9)] 
valor_medio = faturas.groupby(['ID_CONTA'],as_index=False)['VL_FATURA'].mean()
valor_medio_df = pd.DataFrame(valor_medio).rename(columns={'VL_FATURA': 'VL_MEDIO_FATURA'})
pd.DataFrame(valor_medio_df)
#pd.DataFrame(teste)

C:\Users\JONATHAN\AppData\Local\Temp/ipykernel_16620/1728087138.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  faturas =  file[['ID_CONTA','VL_FATURA']][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([8,7,6,5,4,3])] [file['ID_CONTA'].isin(total_com9)]

        ID_CONTA  VL_MEDIO_FATURA
0          27717      1623.128333
1          27789       913.355000
2          30256       441.881667
3          35473       882.268333
4          35510      1376.676667
...          ...              ...
240237   1733074       110.690000
240238   1733098       204.370000
240239   1733273       121.820000
240240   1733278       107.690000
240241   1733288        69.660000

[240242 rows x 2 columns]

QTD_FATURAS_ULT_6M_FX1    403001

In [5]:
nao_pagou = file[['ID_CONTA','DS_ROLAGEM']][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([8,7,6,5,4,3])][file['ID_CONTA'].isin(total_com9)]


qtd_nao_pagou = nao_pagou.groupby(['ID_CONTA'],as_index=False)['DS_ROLAGEM'].apply(lambda x: x[x == 'FX1'].count())
qtd_nao_pagou_df = pd.DataFrame(qtd_nao_pagou).rename(columns={'DS_ROLAGEM': 'QTD_FATURAS_ULT_6M_FX1'})


qtd_nao_pagou_df
#pd.DataFrame(nao_pagou)

C:\Users\JONATHAN\AppData\Local\Temp/ipykernel_16620/2744405072.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  nao_pagou = file[['ID_CONTA','DS_ROLAGEM']][pd.DatetimeIndex(file['DT_VENCIMENTO']).month.isin([8,7,6,5,4,3])][file['ID_CONTA'].isin(total_com9)]

        ID_CONTA  QTD_FATURAS_ULT_6M_FX1
0          27717                       0
1          27789                       0
2          30256                       0
3          35473                       0
4          35510                       0
...          ...                     ...
240237   1733074                       0
240238   1733098                       0
240239   1733273                       0
240240   1733278                       0
240241   1733288                       0

[240242 rows x 2 columns]

Definindo uma função para dar merge

In [ ]:
def merge_all(df,list):
    for i in list:
        df = pd.merge(df,i)
    return df   
df = [qtd_nao_pagou_df,valor_medio_df]        
df_merge = merge_all(cliente_agrupado_df,df)


#df_merge