 <img src = "https://sasquadportador.blob.core.windows.net/general-images/header-blog-1.png" > 

# Seleção Estagiário Data Science - Jonathan

###  QUESTÃO 2.1

Importações

In [50]:
import pandas as pd
import numpy as np

file_1 = pd.read_csv("Questão 2 - Base 1.txt",delimiter="\t")
#file_2 = pd.read_csv("Questão 2 - Base 2.txt",delimiter="\t")
#file_3 = pd.read_csv("Questão 2 - Base 3.txt",delimiter="\t")
#file_4 = pd.read_csv("Questão 2 - Base 4.txt",delimiter="\t")
#file_5 = pd.read_csv("Questão 2 - Base 5.txt",delimiter="\t")

df_1 = pd.DataFrame(file_1)
#df_2 = pd.DataFrame(file_2)
#df_3 = pd.DataFrame(file_3)
#df_4 = pd.DataFrame(file_4)
#df_5 = pd.DataFrame(file_5)

Visualização do primeiro dataframe com head

In [51]:
df_1.head(10)

   ID_CONTA   DT_ACORDO  NU_DIAS_ATRASO  VALOR_CRELIQ  DIVIDA_ATUAL  RESPOSTA
0   1194908  2018-11-22             221        324.38        463.73         0
1   1447997  2018-11-22             191        334.82        451.56         1
2   1035415  2018-11-22             252       1682.26       2554.18         0
3   1069434  2018-11-22             231       1625.01       2368.65         0
4   1427566  2018-11-22             270        320.07        503.25         0
5   1114924  2018-11-22             301       1458.19       2435.04         0
6   1344763  2018-11-22             262        493.42        763.84         0
7   1299566  2018-11-22             311        864.53       1471.99         0
8    981592  2018-11-22             280        343.80        551.17         0
9   1389426  2018-11-22             196        589.92        803.37         0

Info para checar se não há erros nas colunas do df_1

In [52]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72533 entries, 0 to 72532
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_CONTA        72533 non-null  int64
 1   DT_ACORDO       72533 non-null  object
 2   NU_DIAS_ATRASO  72533 non-null  int64
 3   VALOR_CRELIQ    72533 non-null  float64
 4   DIVIDA_ATUAL    72533 non-null  float64
 5   RESPOSTA        72533 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.3+ MB

Visualizando o intervalo de tempo na primeira base

In [53]:
print(min(df_1["DT_ACORDO"]))

print(max(df_1["DT_ACORDO"]))

2018-11-22
2019-06-04

Separando os dataframes de acordo com o ano

In [54]:
max_year = max(pd.DatetimeIndex(df_1['DT_ACORDO']).year)
min_year = min(pd.DatetimeIndex(df_1['DT_ACORDO']).year)
contas_2018 = df_1[['ID_CONTA' , 'DT_ACORDO', 'RESPOSTA'] ] [pd.DatetimeIndex(df_1['DT_ACORDO']).year.isin([min_year]) ]
contas_2019 = df_1[['ID_CONTA' , 'DT_ACORDO', 'RESPOSTA'] ] [pd.DatetimeIndex(df_1['DT_ACORDO']).year.isin([max_year]) ]

# Visualização de teste com o ano 2018

contas_2018

       ID_CONTA   DT_ACORDO  RESPOSTA
0       1194908  2018-11-22         0
1       1447997  2018-11-22         1
2       1035415  2018-11-22         0
3       1069434  2018-11-22         0
4       1427566  2018-11-22         0
...         ...         ...       ...
17994   1226599  2018-11-22         0
17995   1227154  2018-11-22         0
17996   1227404  2018-11-22         0
17997   1240172  2018-11-22         0
17998   1240340  2018-11-22         0

[17999 rows x 3 columns]

Faixa Total de número de dias de atraso

In [55]:
# Aqui foram criadas as variáveis contendo o número mínimo e máximo de dias de atraso

min_atraso = min(df_1['NU_DIAS_ATRASO'])
max_atraso = max(df_1['NU_DIAS_ATRASO'])

# 4 faixas foram criadas, distando em 90 dias 

faixa_1 = [min_atraso, min_atraso + 90]     # O array demonstra dois números. Intervalo entre [0] e [1]
faixa_2 = [faixa_1[1], min_atraso + 2*90]
faixa_3 = [faixa_2[1], min_atraso + 3*90]
faixa_4 = [faixa_3[1], min_atraso + 4*90]

# Visualização teste com a faixa_4

faixa_4

# Todos os valores com os formatos corretos, porém a data está em object

[451, 541]

Faixas criadas de acordo com um "range" e fazendo os cálculos de resposta da questão

In [56]:
# Criando os dataframes com as colunas 'DT_ACORDO','NU_DIAS_ATRASO', 'RESPOSTA' corresponde as faixas definidas

df_faixa_1 = df_1[['DT_ACORDO','NU_DIAS_ATRASO', 'RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_1[0] ][df_1['NU_DIAS_ATRASO'] < faixa_1[1] ]
df_faixa_2 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_2[0] ][df_1['NU_DIAS_ATRASO'] < faixa_2[1] ]
df_faixa_3 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_3[0] ][df_1['NU_DIAS_ATRASO'] < faixa_3[1] ]
df_faixa_4 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_4[0] ][df_1['NU_DIAS_ATRASO'] < faixa_4[1] ]

# Criando dataframe para descobrir a quantidade de adesões por mês
df = df_1.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()
df = pd.DataFrame(df).rename(columns={'RESPOSTA': 'SOMA_MES'})

#Criando dataframes para descobrir a quantidade de adesão por faixa
df_r_faixa_1 = df_faixa_1.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()
df_r_faixa_1 = pd.DataFrame(df_r_faixa_1).rename(columns={'RESPOSTA': 'SOMA_POR_FAIXA_1'})

df_r_faixa_2 = df_faixa_2.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()
df_r_faixa_2 = pd.DataFrame(df_r_faixa_2).rename(columns={'RESPOSTA': 'SOMA_POR_FAIXA_2'})

df_r_faixa_3 = df_faixa_3.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()
df_r_faixa_3 = pd.DataFrame(df_r_faixa_3).rename(columns={'RESPOSTA': 'SOMA_POR_FAIXA_3'})

df_r_faixa_4 = df_faixa_4.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()
df_r_faixa_4 = pd.DataFrame(df_r_faixa_4).rename(columns={'RESPOSTA': 'SOMA_POR_FAIXA_4'})


#df_r_faixa_1  # se quiser a adesao da primeira faixa
#df_r_faixa_2  # se quiser a adesao da segundafaixa
#df_r_faixa_3  # se quiser a adesao da terceira faixa
#df_r_faixa_4  # se quiser a adesao da quarta faixa

# Criando dataframe que corresponde ao percentual por faixa de cada mês 
per_df_faixa_1 = pd.merge(df_r_faixa_1,df)
per_df_faixa_1['PERCENTUAL_FAIXA_1'] = per_df_faixa_1['SOMA_POR_FAIXA_1']/per_df_faixa_1['SOMA_MES']

per_df_faixa_2 = pd.merge(df_r_faixa_2,df)
per_df_faixa_2['PERCENTUAL_FAIXA_2'] = per_df_faixa_2['SOMA_POR_FAIXA_2']/per_df_faixa_1['SOMA_MES']

per_df_faixa_3 = pd.merge(df_r_faixa_3,df)
per_df_faixa_3['PERCENTUAL_FAIXA_3'] = per_df_faixa_3['SOMA_POR_FAIXA_3']/per_df_faixa_1['SOMA_MES']

per_df_faixa_4 = pd.merge(df_r_faixa_4,df)
per_df_faixa_4['PERCENTUAL_FAIXA_4'] = per_df_faixa_4['SOMA_POR_FAIXA_4']/per_df_faixa_1['SOMA_MES']


per_df_faixa_1
per_df_faixa_2
per_df_faixa_3
per_df_faixa_4

C:\Users\JONATHAN\AppData\Local\Temp/ipykernel_11408/4009195154.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_faixa_2 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_2[0] ][df_1['NU_DIAS_ATRASO'] < faixa_2[1] ]
C:\Users\JONATHAN\AppData\Local\Temp/ipykernel_11408/4009195154.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_faixa_3 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_3[0] ][df_1['NU_DIAS_ATRASO'] < faixa_3[1] ]
C:\Users\JONATHAN\AppData\Local\Temp/ipykernel_11408/4009195154.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_faixa_4 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_4[0] ][df_1['NU_DIAS_ATRASO'] < faixa_4[1] ]

    DT_ACORDO  SOMA_POR_FAIXA_4  SOMA_MES  PERCENTUAL_FAIXA_4
0  2019-03-20                34       166            0.057922
1  2019-03-21                 1        21            0.006024
2  2019-03-22                23       123            1.095238
3  2019-04-04                28       283            0.227642
4  2019-06-03                85       755            0.300353
5  2019-06-04                 8       210            0.010596

# QUESTÃO 2.2

Questão 2.2: Qual modelo preditivo você utilizaria para traçar uma estratégia objetivando o aumento da adesão dos acordos? (Descreva a técnica utilizada)

O modelo a ser utilizado seria Regresão Logística pelo fato de dar bons resultados quando o "target" a ser avaliado é do tipo binário, entre (0,1), tal qual a coluna 'REPOSTAS', que representa a adesão podendo ser 0 ou 1, desta forma o modelo ajuda a saber quais parâmetros são cruciais para o aumento da adesão dos acordos.

Para utilização do modelo é necessário separar o dataset a ser usado de tal forma que tenhamos um grupo de varáveis independentes, colunas de dados para compor X, e as variáveis dependentes que será a coluna 'target' correspondente ao y.

Ex: cross_val_score(Modelo, X, y, cv=10)


Vantagens:

- Facilidade para lidar com variáveis independentes
    categóricas.

- Fornece resultados em termos de probabilidade.

-  Facilidade de classificação de indivíduos em
categorias.

-  Requer pequeno número de suposições.

-  Alto grau de confiabilidade.

# QUESTÃO 2.3

Questão 2.3: Quais indicadores e ferramentas você utilizaria para avaliar a performance/aderência desse modelo? (Descreva os indicadores utilizados)

Acurácia: Para observar o quão acertivo é o meu modelo ao aplicálo com o dataset escolhido.

Precisão: Para saber se que foi considerado acerto foi de fato acerto, para não ter falsos positivos.

Quanto ao validador do modelo, utilizaria a validação cruzada para perceber caso os dados variem, se o meu modelo permanece preciso. (cross_val_score)