 <img src = "https://sasquadportador.blob.core.windows.net/general-images/header-blog-1.png" > 

# Seleção Estagiário Data Science - Jonathan

###  QUESTÃO 2.1

Importações

In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

base1 =  pd.read_csv('Questão 2 - Base 1.txt', delimiter = "\t")

Visualização com head

In [16]:
base1.head(10)

   ID_CONTA   DT_ACORDO  NU_DIAS_ATRASO  VALOR_CRELIQ  DIVIDA_ATUAL  RESPOSTA
0   1194908  2018-11-22             221        324.38        463.73         0
1   1447997  2018-11-22             191        334.82        451.56         1
2   1035415  2018-11-22             252       1682.26       2554.18         0
3   1069434  2018-11-22             231       1625.01       2368.65         0
4   1427566  2018-11-22             270        320.07        503.25         0
5   1114924  2018-11-22             301       1458.19       2435.04         0
6   1344763  2018-11-22             262        493.42        763.84         0
7   1299566  2018-11-22             311        864.53       1471.99         0
8    981592  2018-11-22             280        343.80        551.17         0
9   1389426  2018-11-22             196        589.92        803.37         0

Data do primeiro e do último acordo do dataframe

In [6]:
print("O primeiro acordo da base ocorreu em: ", min(base1["DT_ACORDO"]))

print("O último acordo da base ocorreu em: ", max(base1["DT_ACORDO"]))

O primeiro acordo da base ocorreu em:  2018-11-22
O último acordo da base ocorreu em:  2019-06-04

In [15]:
print(min(base1["NU_DIAS_ATRASO"]))

# F1 = 181 - 281   F2 = 282 - 382  F3 = 383 - 483  F4 = 484 - 540

# % de 1 na ["RESPOSTA"] por faixa

print(max(base1["NU_DIAS_ATRASO"]))
 
 x <     > y  count

181
540

In [8]:
base1.info()

# Todos os valores com os formatos corretos, porém a data está em object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72533 entries, 0 to 72532
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_CONTA        72533 non-null  int64
 1   DT_ACORDO       72533 non-null  object
 2   NU_DIAS_ATRASO  72533 non-null  int64
 3   VALOR_CRELIQ    72533 non-null  float64
 4   DIVIDA_ATUAL    72533 non-null  float64
 5   RESPOSTA        72533 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.3+ MB

Transformando a coluna "DT_ACORDO" em data

In [9]:
base1["DT_ACORDO"] = pd.to_datetime(base1["DT_ACORDO"])

In [10]:
base1.info()

# TRansformação executada com sucesso

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72533 entries, 0 to 72532
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_CONTA        72533 non-null  int64
 1   DT_ACORDO       72533 non-null  datetime64[ns]
 2   NU_DIAS_ATRASO  72533 non-null  int64
 3   VALOR_CRELIQ    72533 non-null  float64
 4   DIVIDA_ATUAL    72533 non-null  float64
 5   RESPOSTA        72533 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3)
memory usage: 3.3 MB

In [10]:
b4 = pd.read_csv("Questão 2 - Base 4.txt", delimiter = "\t")

max(b3["DT_ACORDO"])

'2019-06-04'