 <img src = "https://sasquadportador.blob.core.windows.net/general-images/header-blog-1.png" > 

# Seleção Estagiário Data Science - Jonathan

###  QUESTÃO 2.1

Importações

In [18]:
import pandas as pd
import numpy as np

file_1 = pd.read_csv("Questão 2 - Base 1.txt",delimiter="\t")
file_2 = pd.read_csv("Questão 2 - Base 2.txt",delimiter="\t")
file_3 = pd.read_csv("Questão 2 - Base 3.txt",delimiter="\t")
file_4 = pd.read_csv("Questão 2 - Base 4.txt",delimiter="\t")
file_5 = pd.read_csv("Questão 2 - Base 5.txt",delimiter="\t")

df_1 = pd.DataFrame(file_1)
df_2 = pd.DataFrame(file_2)
df_3 = pd.DataFrame(file_3)
df_4 = pd.DataFrame(file_4)
df_5 = pd.DataFrame(file_5)

Visualização do primeiro dataframe com head

In [19]:
df_1.head(10)

   ID_CONTA   DT_ACORDO  NU_DIAS_ATRASO  VALOR_CRELIQ  DIVIDA_ATUAL  RESPOSTA
0   1194908  2018-11-22             221        324.38        463.73         0
1   1447997  2018-11-22             191        334.82        451.56         1
2   1035415  2018-11-22             252       1682.26       2554.18         0
3   1069434  2018-11-22             231       1625.01       2368.65         0
4   1427566  2018-11-22             270        320.07        503.25         0
5   1114924  2018-11-22             301       1458.19       2435.04         0
6   1344763  2018-11-22             262        493.42        763.84         0
7   1299566  2018-11-22             311        864.53       1471.99         0
8    981592  2018-11-22             280        343.80        551.17         0
9   1389426  2018-11-22             196        589.92        803.37         0

Info para checar se não há erros nas colunas do df_1

In [26]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72533 entries, 0 to 72532
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_CONTA        72533 non-null  int64
 1   DT_ACORDO       72533 non-null  object
 2   NU_DIAS_ATRASO  72533 non-null  int64
 3   VALOR_CRELIQ    72533 non-null  float64
 4   DIVIDA_ATUAL    72533 non-null  float64
 5   RESPOSTA        72533 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 3.3+ MB

Visualizando o intervalo de tempo na primeira base

In [21]:
print(min(df_1["DT_ACORDO"]))

print(max(df_1["DT_ACORDO"]))

2018-11-22
2019-06-04

Separando os dataframes de acordo com o ano

In [ ]:
max_year = max(pd.DatetimeIndex(df_1['DT_ACORDO']).year)
min_year = min(pd.DatetimeIndex(df_1['DT_ACORDO']).year)
contas_2018 = df_1[['ID_CONTA' , 'DT_ACORDO', 'RESPOSTA'] ] [pd.DatetimeIndex(df_1['DT_ACORDO']).year.isin([min_year]) ]
contas_2019 = df_1[['ID_CONTA' , 'DT_ACORDO', 'RESPOSTA'] ] [pd.DatetimeIndex(df_1['DT_ACORDO']).year.isin([max_year]) ]

# Visualização de teste com o ano 2018

contas_2018

Faixa Total de número de dias de atraso

In [41]:
# Aqui foram criadas as variáveis contendo o número mínimo e máximo de dias de atraso

min_atraso = min(df_1['NU_DIAS_ATRASO'])
max_atraso = max(df_1['NU_DIAS_ATRASO'])

# 4 faixas foram criadas, distando em 90 dias 

faixa_1 = [min_atraso, min_atraso + 90]     # O array demonstra dois números. Intervalo entre [0] e [1]
faixa_2 = [faixa_1[1], min_atraso + 2*90]
faixa_3 = [faixa_2[1], min_atraso + 3*90]
faixa_4 = [faixa_3[1], min_atraso + 4*90]

# Visualização teste com a faixa_4

faixa_4

# Todos os valores com os formatos corretos, porém a data está em object

[451, 541]

In [9]:
# Explicação do processo repetido para cada faixa:

## Do dataframe 1, foram delimitadas as colunas de acordo com a faixa escolhida
## Criando um dataframe com as três colunas de interesse
## Baseado na coluna de dias de atraso, usei apenas o range da faixa escolhida
## o "range" foi dado: maior ou igual ao [0] do array criado acima e menor ou igual ao [1]

teste_faixa_1 = df_1[['DT_ACORDO','NU_DIAS_ATRASO', 'RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_1[0] ][df_1['NU_DIAS_ATRASO'] < faixa_1[1] ]
teste_faixa_2 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_2[0] ][df_1['NU_DIAS_ATRASO'] < faixa_2[1] ]
teste_faixa_3 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_3[0] ][df_1['NU_DIAS_ATRASO'] < faixa_3[1] ]
teste_faixa_4 = df_1[['DT_ACORDO','NU_DIAS_ATRASO','RESPOSTA']][df_1['NU_DIAS_ATRASO'] >= faixa_4[0] ][df_1['NU_DIAS_ATRASO'] < faixa_4[1] ]

#df = df_1.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()

# Groupby 

df_r_faixa_1 = teste_faixa_1.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()
df_r_faixa_2 = teste_faixa_2.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()
df_r_faixa_3 = teste_faixa_3.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()
df_r_faixa_4 = teste_faixa_4.groupby(['DT_ACORDO'],as_index=False)['RESPOSTA'].sum()



#teste_faixa_1
df_r_faixa_1  # se quiser a adesao da primeira faixa
#df_r_faixa_2  # se quiser a adesao da segundafaixa
#df_r_faixa_3  # se quiser a adesao da terceira faixa
#df_r_faixa_4  # se quiser a adesao da quarta faixa